.item:hover {
  background-color: #ff2442;
  color: aliceblue;
}
.item {
  background-color: #ffb830;
  color: #292929;
  font-weight: 700;
  border-radius: 3px;
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  height: 6rem;
  border-radius: 1rem;
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  user-select: none;
}
.droppable {
  background-color: #1e5128;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 400px;
  margin: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  width: 90%;
  height: 60vh;
  border-radius: 1rem;
}
.droppableLetters {
  width: 100%;
  background-color: #ff4c29;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin: 2rem auto;
  padding: 1.5rem 0.5rem;
  border-radius: 1rem;
}
.draggable {
  margin: 1rem;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
