.droppable {
  width: 42rem;
  margin: 0 auto;
  height: 42rem;
}
.canvas {
  position: absolute;
  top: 0;
  left: 4%;
}

.cellsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
  width: 42rem;
  height: 42rem;
  flex-wrap: wrap;
  border-radius: 1rem;
}
.itemCell {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.685);
  width: 6rem;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  height: 6rem;
  border-radius: 1rem;
  margin-right: 3px;
  margin-bottom: 3px;
  user-select: none;
}

.droppableLetters {
  width: 100%;
  background-color: #ffb830;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  padding: 1.5rem 0.5rem;
  border-radius: 1rem;
}

.item {
  color: #dadada;
  width: 6rem;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  height: 6rem;
  border-radius: 1rem;
  margin-right: 3px;
  margin-bottom: 3px;
  cursor: pointer;
  user-select: none;
  font-size: 4rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: pan-y;
  transition: all 0.2s;
}
.item:active {
  background-color: #08aa5e;
}
.vowels {
  background-color: #ff2442;
}
.consonants {
  background-color: #0f52ba;
}
.marks {
  background-color: #474747;
}
.draggable {
  margin: 1rem;
  touch-action: none;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Media queries */
@media only screen and (max-width: 992px) and (min-device-width: 601px) {
  .cellsWrapper {
    width: 28rem;
    height: 28rem;
    margin-top: 2rem;
  }
  .droppable {
    width: 28rem;
    height: 28rem;
    margin-bottom: 3rem;
  }
  .itemCell {
    width: 4rem;
    height: 4rem;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  }
  .item {
    width: 4rem;
    height: 4rem;
    font-size: 2.7rem;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 600px) {
  .cellsWrapper {
    width: 19rem;
    height: 19rem;
    margin-top: 2rem;
  }
  .droppable {
    width: 19rem;
    height: 19rem;
    margin-bottom: 2rem;
  }
  .itemCell {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }
  .item {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }
}
