@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Balsamiq Sans", cursive;
}

.main {
  min-height: 100vh;
  width: 100%;
  padding: 0 5%;
  background-image: url("./assets/images/16633.webp");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.img {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 5%;
  cursor: pointer;
  font-size: 5rem;
  color: #00b353;
  background-color: rgb(82, 82, 82);
  border-radius: 50%;
  transition: all 0.4s;
}
.img:hover {
  color: #fa3e19;
  background-color: rgb(59, 59, 59);
}
.img:active {
  transform: scale(0.7);
}
.btn {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  left: 5%;
  cursor: pointer;
  font-size: 5rem;
  border-radius: 50%;
  transition: all 0.4s;
}
.btn:active {
  transform: scale(0.7);
}
.btnStart {
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  color: #40b1f3;
  background-color: rgb(82, 82, 82);
}
.btnStop {
  top: 8rem;
  color: #f34040;
  background-color: rgb(82, 82, 82);
}
.btnStart:hover {
  color: #ffb830;
}
.btnStop:hover {
  color: #00b353;
}

/* Media queries */
@media only screen and (max-width: 992px) and (min-device-width: 601px) {
  .img {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
  }
  .btnStart {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
  }
  .btnStop {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .img {
    font-size: 3rem;
    top: 0.2rem;
    width: 3rem;
    height: 3rem;
  }
  .btnStart {
    font-size: 3rem;
    top: 0.2rem;
    width: 3rem;
    height: 3rem;
  }
  .btnStop {
    font-size: 3rem;
    top: 0.2rem;
    left: 4.5rem;
    width: 3rem;
    height: 3rem;
  }
}
